* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(270deg, rgba(11,29,100,1) 0%, rgba(1,253,2) 100%)
    background-color: red;
    padding: 0;
    margin: 0;
}
.container {
    position: relative;
    width: 21rem;
    margin: 10% auto;
}

.black-keys {
    position: absolute;
    top: 0;
}
.black-keys kbd{
    display: inline-block;
    width: 1.5rem;
    padding: 2.5rem 0 3rem 0;
    background-color: black;
    text-align: center;
    color: white;
}
.white-keys kbd {
    border: 1px black solid;
    display: inline-block;
    width: 3rem;
    background-color: white;
    margin-left: -4px;
    text-align: center;
    padding-top: 8rem;
    height: 12rem;
}

.black-keys kbd:nth-child(1) {
    margin-left: 2rem;
}

.black-keys kbd:nth-child(2) {
    margin-left: 1.25rem;
}

.black-keys kbd:nth-child(3) {
    margin-left: 4.25rem;
}

.black-keys kbd:nth-child(4) {
    margin-left: 1.25rem;
}

.black-keys kbd:nth-child(5) {
    margin-left: 1.25rem;
}
